body {
  margin: 0;
  padding: 0;
}

.clock {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 250px 0px 15px;
  font-family: ;
}